/*************************************_Image_******************************************/

@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap'); /*font-family: 'My Soul', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@600&display=swap'); /*font-family: 'Akshar', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;600&display=swap');/*;font-family: 'Akshar', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;600&family=Goldman&display=swap');/*font-family: 'Goldman', cursive;*/

html{
    height: 100vh; 
}

/************************************_Image_*******************************************/

#HdImg{
    height: 1.5rem;
    margin-left: 10rem;
}

/************************************_Header_******************************************/
h4 {
    color: aliceblue;
}
h3{
    color: aliceblue;
    margin: 1rem;
    font-family: 'Goldman';
}

#exp_pro{
    color:aliceblue;
    font-family: 'Goldman';
    text-align: center;
}
header{         /*CORPS HEADER en haut du menu*/
    display: flex;
    margin: auto;
    padding-left: 45rem;
    color: aliceblue;
    font-family: 'Akshar', sans-serif;    
}
body{
    height: 100vh;
    margin: 0;
    background:linear-gradient(to bottom, #000,12%,#152648);
}

/************************************_Menu_********************************************/

/************************************Cranble*******************************************/

.btn {
    color:aliceblue;
}

/***********************************Loading Wheel**************************************/

/*************************************_CV_Bloc_****************************************/

/**************************************_Test_******************************************/
