/*************************************_Image_******************************************/

@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap'); /*font-family: 'My Soul', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@600&display=swap'); /*font-family: 'Akshar', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;600&display=swap');/*;font-family: 'Akshar', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;600&family=Goldman&display=swap');/*font-family: 'Goldman', cursive;*/

html{
    height: 260vh; 
}

/*************************************_Image_******************************************/

/************************************_Header_******************************************/
h3{
    color: aliceblue;
    margin: 1rem;
}

header{                               /*CORPS HEADER en haut du menu*/
    display: flex;
    margin: auto;
    padding-left: 45rem;
    color: aliceblue;
    font-family: 'Akshar', sans-serif;    
}
body{
    height: 250vh;
    margin: 0;
    background:linear-gradient(to bottom, #000,12%,#152648);
}

/************************************_Menu_********************************************/

#menu{
    margin: 1rem 0rem;          /* Haut Bas marge 1 rem et Gauche Droite 0*/
    padding: 0.5rem 0rem;
    background: linear-gradient(#152648 ,rgb(5, 11, 22));
    border: 0.23rem solid rgb(66, 89, 134);
    border-radius: 50px;
    position: sticky;          /*barre qui va rester afficher sur l'ecran en scrollant*/
    top: 0;                    /*position du pixel sur le quel il va s'arreter en px*/
}
#menu ul{
    padding: 0;                /*met espace à 0*/
    list-style: none;          /*désactive les points '*' */
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
#menu a{
    text-decoration: none;
    color: aliceblue;
    text-decoration: aliceblue;
}
#menu a:hover{                 /*:hover= sousclass, inverse colors when cursor on link*/
    background:rgb(65, 95, 150);
    color:rgb(255, 255, 255) ;
    border-radius: 50px;
    margin: 7px;
    padding: .3rem; 
    transition: all 450ms ease-in-out;
}

/**********************************_Presentation_**************************************/

/*********************************Text presentation************************************/

div p{                 
    color: aliceblue;
    font-family: 'Goldman';
}
.exp_pro{
    margin: 2rem;
    font-size: large;
}

/*************************************_CV_Bloc_****************************************/

/**************************************_Test_******************************************/
