/*******************************_Main.css_fait_le_15/04/2022_à_11h20_par_KACEL_Stephane_*******************************/

/*************************************_Import_Fonts_******************************************/

@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap'); /*font-family: 'My Soul', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@600&display=swap'); /*font-family: 'Akshar', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;600&display=swap');/*;font-family: 'Akshar', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;600&family=Goldman&display=swap');/*font-family: 'Goldman', cursive;*/

html{
    height: 220vh; 
}

/*************************************_Image_******************************************/

#HdImg{
    /* height: 100%; */
    height: 1.5rem;
    margin-left: 10rem;
}

/************************************_Header_******************************************/

h1{
    text-align: center;
    color: aliceblue;
    font-family: 'Akshar', sans-serif; 
}
h2, h3{
    color:#9ee3ff;
    margin: 2rem;
    font-family: 'Goldman';
    text-align: center;
}
ul{
    font-family: 'Goldman';
    text-align: center;

}

#hr_color{
    color:rgb(66, 89, 134);
}
header{                               /*CORPS HEADER en haut du menu*/
    display: flex;
    margin: auto;
    padding-left: 45rem;
   
}
body{
    height: 220;
    margin: 0;
    background:linear-gradient(to bottom, #000,12%,#152648);
}

/************************************_Menu_********************************************/

#menu{
    margin: 1rem 0rem;          /* Haut Bas marge 1 rem et Gauche Droite 0*/
    padding: 0.5rem 0rem;
    background: linear-gradient(#152648 ,rgb(5, 11, 22));
    border: 0.23rem solid rgb(66, 89, 134);
    border-radius: 50px;
    position: sticky;          /*barre qui va rester afficher sur l'ecran en scrollant*/
    top: 0;                    /*position du pixel sur le quel il va s'arreter en px*/
}
#menu ul{
    padding: 0;                /*met espace à 0*/
    list-style: none;          /*désactive les points '*' */
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
#menu a{
    text-decoration: none;
    color: aliceblue;
    text-decoration: aliceblue;
}
#menu a:hover{                 /*:hover= sousclass, inverse colors when cursor on link*/
    background:rgb(65, 95, 150);
    color:rgb(255, 255, 255) ;
    border-radius: 50px;
    margin: 7px;
    padding: .3rem; 
    transition: all 450ms ease-in-out;
}

/**********************************_Presentation_**************************************/
.hrpres{                       /*Barre Horizontal*/
    border-radius: 50 px;
}
.moncv{
    padding: 0;
    margin: 0;
    list-style: none;
    color: aliceblue;
    font-family: 'Goldman';
}

/*********************************Text presentation************************************/

div p{                 
    color: aliceblue;
    font-family: 'Goldman';
    text-align: center;
}
.fp_image{
    margin: 2rem;
    font-size: large;
    text-align: center;
}

.supergradcolor{
    background: #152648 #344980 #253865;
}

/*************************************_CV_Bloc_****************************************/

/**************************************_Test_******************************************/

.fp_image img {
    border-radius: 47%;
  }